# Copy this file to `.env` and fill in secrets.
# IMPORTANT: never commit your real `.env`.

# Database
ConnectionStrings__DefaultConnection=Host=localhost;Port=5432;Database=auth_db;Username=auth_admin;Password=auth_admin

# Host
HostSettings__HostUrl="https://localhost:44374"

# JWT
JwtSettings__SecretKey=YourSuperSecretKeyAtLeast32CharactersLong!
JwtSettings__Issuer=api-gateway
JwtSettings__Audience=frontend-app
JwtSettings__AccessTokenExpirationMinutes=5
JwtSettings__RefreshTokenExpirationDays=30

# Email (SMTP)
EmailSettings__UseConsoleSink=true
EmailSettings__FromEmail=no-reply@example.com
EmailSettings__FromName=API Gateway
EmailSettings__SmtpHost=smtp.gmail.com
EmailSettings__SmtpPort=587
EmailSettings__SmtpUser=your-email@gmail.com
# If you're using Gmail App Password (not your normal password), set it here:
EmailSettings__SmtpPassword=your_app_password

# If you later implement Gmail OAuth2/XOAUTH2, you can add vars like:
# EmailSettings__UseOAuth2=true
# EmailSettings__OAuth2ClientId=
# EmailSettings__OAuth2ClientSecret=
# EmailSettings__OAuth2RefreshToken=

