@import "tailwindcss";
@import "tw-animate-css";

@theme {
  --color-primary: #13c8ec;
  --color-background-light: #f6f8f8;
  --color-background-dark: #101f22;
  --color-slate-card: #1a2c30;
  --color-slate-border: #2a4248;
  
  --animate-shimmer: shimmer 1.5s infinite;
  
  @keyframes shimmer {
    100% {
      transform: translateX(100%) skewX(12deg);
    }
  }
}

body {
  font-family: var(--font-sans), sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Fix Webkit Autofill in Dark Mode */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #1e293b inset !important;
    -webkit-text-fill-color: white !important;
    transition: background-color 5000s ease-in-out 0s;
}
